*{
    margin: 0;
    padding: 0;
}
body{
    background: $body-bg;
}

.form-row{
    margin: 0;
    .btn.btn-info{
        margin-top: 20px;
    }
}

form{
    padding: 20px;
    border: 1px solid #abc6dd;
}

li.text-danger{
    list-style-type: none;
}
.translation-text {
    resize: none;
    width: 100%;
    height: 100%;
    border: 1px solid #abc6dd;
    padding: 20px;
    margin-top: 16px;
    &:focus-visible{
        border: 1px solid #abc6dd;
        outline: none;
    }
}
