<template>
    <transition name="page" mode="out-in">
        <Layout />
    </transition>
</template>
<script>

import Layout from './../layouts/default'

export default {
    el: '#app',
    components: {
        Layout
    }
}
</script>
