<template>
    <div class="row">
        <div class="col-lg-6">
            <div style="margin-top: 53px"></div>
            <form class="h-100">
                <div v-if="errors.length" >
                    <b class="text-danger">Please correct the following error(s):</b>
                    <ul>
                        <li v-for="error in errors" class="text-danger">{{ error }}</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="translationText">Translation text</label>
                    <input type="test" class="form-control" id="translationText" v-model="fields.text" placeholder="Translation text">
                </div>
                <div class="form-row">
                    <input type="button" class="btn btn-info" value="Translate" @click="send">
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            <select name="" id="" class="form-control" @change="chooseCountry($event)">
                <option value="">Choose country</option>
                <option value="" v-for="country in countries" :value="country.code">{{country.country}}</option>
            </select>
            <div class="translation-text">
                <p v-if="translation.success">{{translation.translated_text}}</p>
            </div>
        </div>

    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
    name: "Home",
    data: () => {
        return ({
            fields: {
                iso: '',
                text: ''
            },
            errors: []
        })
    },
    computed:{
        ...mapGetters({
          translation: 'GET_TRANSLATION',
          countries: 'GET_COUNTRIES',
          translation_error: 'GET_ERRORS'
        })
    },
    mounted () {
        this.load_countries()
    },
    methods: {
        ...mapActions({
            load_translation: 'LOAD_TRANSLATION',
            load_countries: 'LOAD_COUNTRIES'
        }),
        send(){
            if(this.checkForm().length === 0){
                this.load_translation(this.fields)
            }
        },
        chooseCountry(e){
            this.fields.iso = e.target.value
        },
        checkForm(){
            this.errors = [];
            if (!this.fields.text) {
                this.errors.push('Text field is required.');
            }
            if (!this.fields.iso) {
                this.errors.push('Country field is required.');
            }
            return this.errors;
        }
    }
}
</script>
