<template>
  <div class="main-layout">
    <Navbar />
    <div class="container mt-4">
      <Child />
    </div>
  </div>
</template>

<script>
import Navbar from './../components/Navbar'
import Child from './../components/Child'

export default {
    name: 'Layout',
    components: {
        Navbar,
        Child
    }
}
</script>
